<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    {% include 'posts/navbar.html' %}
    <h1>Add Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="text">Post</label>
        <textarea name="text" id="text" >{{post.text}}</textarea>

        <label for="images">Add image</label>
        <input type="file" accept="image/*" name="images" value="{{post.images}}" id="images" multiple style="display: none;">

        <label for="video">Add video</label>
        <input type="file" name="video" id="video" accept="video/*" value="{{post.video}}" style="display: none;">

        <button type="submit">Post</button>

    </form>
</body>
</html>